*{
    margin: 0;
    padding: 0;
    font-family:'Poppins' , sans-serif;
    background-size: border-box;
}

body{
    background: #222;
}

.card{
    width:80%;
    max-width:370px;
    /* background: linear-gradient(135deg, #1500fe, #638a54); */
    color: #fff;
    margin: 60px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    background-image: url("https://t3.ftcdn.net/jpg/05/51/95/26/360_F_551952602_vp8d4v2nDYo8UExEpxFOtMMv8uOzPaq9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.search{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 5px 10px;
    height: 40px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width:50px;
    height: 50px;
    cursor: pointer;
}

.search button img{
    width:16px;
}

.weather-icon{
    width:170px;
    margin-top:30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-left: 10px;
}

.humidity, .wind{
    font-size:28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    display: none;
}

.error p{
    color: red;
    font-size: larger;
}